<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Registrar</title>
  <!-- Adicione a referência ao CDN do input-mask -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.0.8/imask.min.js"></script>
</head>

<body>
  <!-- Seu código HTML existente -->

  
    <form action="/auth/register" method="POST" id="form-cpf" class="form-entrar">
        <label for="nome">Nome Completo:</label>
        <input type="text" id="nome" name="nome" required autocomplete="name">

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required autocomplete="email">

        <label for="cpf">CPF (será usado como usuário):</label>
        <input type="text" id="cpf" name="cpf" placeholder="Digite o CPF" required autocomplete="off" maxlength="14">
        <p id="cpf-validation-msg" style="color: red;"></p> <!-- Mensagem de validação do CPF -->

        <label for="dataNascimento">Data de Nascimento:</label>
        <input type="date" id="dataNascimento" name="dataNascimento" required autocomplete="bday">

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required autocomplete="new-password">

        <button type="submit">Registrar</button>
    </form>

  
</body>

</html>